  {% if employees %}
    <ul id="employees">
      <li><h3>medarbejdere</h3></li>
    {% for item in employees %}
      <li>
      {% if item.image %}
        <img src="{{ item.image }}" alt="" />
      {% endif %}
        <span>
          {{ item.name }}
      {% if item.twitter %}
          <a href="https://twitter.com/#!/{{ item.twitter }}" rel="external" title="se {{ item.name }}'s tweets">t</a>
      {% endif %}
        </span>
        {{ item.content|raw }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
