{% extends layout %}

{% block title%}{{ article.title }} / {% endblock %}

{% block teaser %}
  <section id="teaser">
    <img src="/fx/img/design/grass-house-trans.png" />
  {% if article.manchet %}
    {{ article.manchet|raw }}
  {% endif %}
  </section>
{% endblock %}

{% block content %}
  {% include '_article-item.html.twig' %}
{% endblock %}

{% block aside %}
  <aside>
  {% if related %}
    <ul id="">
      <li><h3>flere indlæg fra {{ article.author }}</h3></li>
    {% for item in related %}
      <li>
        <span>{{ item.date }}</span>
        <a href="/article/{{ item.slug }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </aside>
{% endblock %}
